@import '../../styles/_colors';
@import '../../styles/_fonts';

.Curriculum {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1% 5%;
  text-align: center;
  &__seleccion {
    min-width: 170px;
    width: 25%;
    margin: 1rem;
    font-family: $font-secondary;
    background-color: $color-base;
    padding: 0.8rem 0.5rem;
    border: none;
    color: $color-secondary;
    font-size: 1.25rem;
    &:hover,
    &--true {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}
